.promotion__form-header {
  color: #e1b437;
  line-height: 14px;
  font-size: 18px;
  text-transform: none;
  font-weight: 400;
}

@media screen and (max-width: 916px) {
  .promotion__form-header {
    line-height: 18px;
  }
}