.advantages__item {
  width: 150px;
  margin-right: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__item:nth-last-of-type(1) {
  margin-right: 0;
}

@media screen and (max-width: 1010px) {
  .grid__item {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .grid__item:nth-last-of-type(1) {
    margin-bottom: 0;
  }
}