.footer__container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 45px;
}

@media screen and (max-width: 1010px) {
  .footer__container {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .footer__container {
    width: 90%;
  }
}