.consultation__form-container {
  display: flex;
  width: 500px;
}

@media screen and (max-width: 590px) {
  .consultation__form-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}