.form__submit {
  width: 240px;
  height: 45px;
  background-color: #ffcb3a;
  border: none;
  outline: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
}

.form__submit:after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to left, rgba(255,255,255,.0),
    rgba(255,255,255,.8), 
    rgba(255,255,255,.0)) no-repeat -2em 0%;
  background-size: 2em 100%;
  transform: skew(-25deg);
}

.form__submit:hover::after {
  transition: .2s linear;
  background-position: 94% 0%;
  visibility: hidden;
}

.form__submit:hover {
  transition: .2s;
  opacity: .95;
}