.reviews__item {
  display: flex;
  margin-left: 10%;
}

@media screen and (max-width: 1010px) {
  .reviews__item {
    margin-left: 10%;
  }
}

@media screen and (max-width: 506px) {
  .reviews__item {
    margin-left: 0;
    flex-direction: column;
    align-items: center;
  }
}